# Python virtual environment
noshow_env/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment variables
.env

# SQLite database files
*.db
*.sqlite
*.sqlite3

# System files
.DS_Store
Thumbs.db